
/* Début Header */
.navbar{
    background: linear-gradient(90deg, rgba(56,182,247,1) 0%, rgba(125,31,175,0.989233193277311) 43%, 
    rgba(106,130,185,0.9416141456582633) 88%);
    height: 150px;
    width: 100%;
}

img{
    height: 150px; 
    width : 300px;
}
.navbar-collapse{
    justify-content: flex-end;
}
.navbar-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.navbar-nav>li{
    margin: 10px 20px;
}
.avatar{
    margin: 10px;
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
/* Fin Header */


body{
    height: 100vh;
}


/* Sidebar */
.sidebar{
    position: fixed;
    top: 40%;
    right: 2%;

}
.sidebar a{
    display: table-caption;
    text-align: center;
    padding: 4px;
    transition: all 0.3s ease;
    font-size: 20px;
}
.sidebar>a img{
    width: 75%;
    height: 75%;
    border-radius: 5px;
}
.sidebar>a i{
    font-size: 2rem;
}
.rebordIconTop{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.siteWeb{
    background-color: #f25e57;
    color: black;
}
.linkedin{
    background-color: #46aeb5;
    color: black;
}
.api{
    background-color: #6467e3;
    color: black;
}
.rebordIconDown{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
}
/* Api */
.gouv{
    display: flex;
    width: 58%;
    margin: auto;
}
.bordure{
    border: 2px solid black;
}
.bordeur{
    border-radius: 15px;
}
#radio>label{
    margin: 0 50px 0 5px;
}
.column{
    display: flex;
    flex-direction: column;
}
.column>label{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}
#adress{
    margin: 0 0 10px 0;
}
.bouton>button{
    width: 20%;
    border-radius: 10px;
}
.map-full{
    height: 45vh;
    border-radius: 15px;
}

/* Début Footer */
.footer{
    position: fixed;
    bottom: 0;
    background: linear-gradient(90deg, rgba(56,182,247,1) 0%, rgba(125,31,175,0.989233193277311) 43%, 
    rgba(106,130,185,0.9416141456582633) 88%);
    height: 150px;
    width: 100%;
}
.copyright{
    font-size: 20px;
}

.footer a{
    margin: 0 25px;
}

.img-footer{
    width: 92px;
}

.siteWeb-footer>img{
    height: 100%;
    width: 50%;
    border-radius: 5px;
}

.footer a>i{
    font-size: 3rem;
}

.map-footer{
    height: 150px; 
    width : 300px;
}

.map-footer>img{
    border-radius: 15px;
}
/* Fin Footer */