{% extends 'base.html.twig' %}

{% block title %}Créer une annonce!
{% endblock %}

{% block body %}
	
	<div class="container">
		<div class="row">

			<div class="col">

				<div
					class="card ">

					<!-- Entête formulaire de création d'une annonce -->

					<h1 class="card-annonce col-8 offset-2 bg-white border-0 text-center my-3 py-3">
						Créer une annonce
					</h1>

					<div class="card-annonce col-8 offset-2 border rounded mb-3 py-3">
						{{ form_start(form) }}
						{{ form_widget(form) }}

				<div class="text-center">
					<button class=" btn btn-primary text-center text-white" formnovalidate>Confirmer
					</button>
				</div>
						{{ form_end(form) }}


					</div>

				</div>

				
			</div>
	</div>
		
	{% endblock %}
