{% extends 'base.html.twig' %}

{% block title %}Créer une annonce!
{% endblock %}

{% block body %}
	<main class="container">

		<div class="row">

			<div class="col">

				<div
					class="card">

					<!-- Entête formulaire de création d'une annonce -->

					<h1 class="card-header col-8 offset-2 bg-white border-0 text-center my-3 py-3" style="background: rgb(211, 211, 211);">
						Créer une annonce
					</h1>

					<div class="card-body col-8 offset-2 border rounded mb-3 py-3" style="background: rgb(211, 211, 211);">
						{{ form_start(form) }}
						{{ form_widget(form) }}


						<button class="btn btn-primary" formnovalidate>Confirmer</button>

						{{ form_end(form) }}


					</div>

				</div>

			</div>

		</main>
	{% endblock %}
