<form method="post" action="{{ path('announce_delete', {'id': announce.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cette annonce?');">

	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ announce.id) }}">

	<button class=" bouton btn btn-danger text-white" data-toggle="modal" data-target="#delete-Modal">Supprimer</button>


	
</form>
