{% extends 'base.html.twig' %}

{% block title %}
	Liste des annonces
{% endblock %}

{% block body %}


	<div class="col">
		<h1 class="text-center">Liste des annonces</h1>

		<div class="row">
			{% for announce in announces %}


				<div class="col-12 col-md-6 col-lg-4">
					<a href="{{ path('announce_show', {slug: announce.slug}) }}">
						<div class="card card-article mb-4">
							<div class="card-body" style="background: rgb(211, 211, 211);">


								<h4>{{ announce.nameCompany }}</h4>
								<p class="card-text">{{ announce.description | u.truncate( 200, '...', false) }}</p>
								{% if announce.createdAt %}
									{{ announce.createdAt |ago }}
								{% else %}

									(unpublished)

								{% endif %}
							</div>
						</div>
					</a>
				</div>


			{% endfor %}
		</div>

	</div>

{% endblock %}
