{% extends 'base.html.twig' %}

{% block title %}
	Message privée
{% endblock %}

{% block body %}

{{ form_start(MessageForm) }}


<button type="submit" class="btn btn-primary"> Envoyer </button>
 {{ form_end(MessageForm) }}




{% endblock %}

