{% extends 'base.html.twig' %}

{% block title %}
	Message privée
{% endblock %}

{% block body %}
<form>
	<div class="container-4 text-center text-dark ">
		<h1>
			Message privé
		</h1>

		<h2>Objet : </h2>

        <div>
            <label for="">

        </div>


		<h2>Message : </h2>

		<textarea name="texte" id="" cols="30" rows="6" placeholder="Votre message"></textarea> <br>


		<button type="submit" class="btn btn-success">Envoyer</button>

	</div>

</form>



{% endblock %}

