{% extends 'base.html.twig' %}

{% block title %}Message privée - {{parent()}}{% endblock %}

{% block body %}

	<div class="container">


		{{ form_start(MessageForm) }}


		{{ form_widget(MessageForm)}}


		<button type="submit" class="btn btn-primary">
			Envoyer
		</button>

		{{ form_start(MessageForm) }}


	</div>


{% endblock %}
