{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
    <h1>Create new Categorie</h1>

    {{ include('y/_form.html.twig') }}

    <a href="{{ path('y_index') }}">back to list</a>
{% endblock %}
