{% extends 'base.html.twig' %}


{% block title %}MODIFIER PROFIL

{% endblock %}


{% block body %}

	<h1>Profil</h1>


	{{ form_start(formUser) }}
		{{ form_widget(formUser) }}

		<button type="submit" class="btn btn-success">VALIDER</button>
	{{ form_end(formUser) }}




{% endblock %}