{% extends 'base.html.twig' %}
{% block title %}page non trouvé {% endblock %}

{% block body %}
<h1>page non trouvé</h1>
<p> la page que vous cherché n'est pas trouvé</p> 
<p> Code retour : {{ status_code }} </p>

{% endblock %}