{% extends 'base.html.twig' %}

{% block title %}Hello MessageReceveidController!
{% endblock %}

{% block body %}

	<h1 class="text-center"> Messages Reçus </h1>
    
    <br>

	<table class="table">
		<thead>

			<th>Expéditeur</th>
			<th>Objet</th>
			<th>Message</th>
			<th>Date</th>


		</thead>
		<tbody>
        {# Boucle qui récupere id etc dans la bdd  #}
		
		</tbody>
	</table>


{% endblock %}
