{% extends 'base.html.twig' %}


{% block title %}Message reçu
{% endblock %}

{% block body%}

<table class="table">
	<thead>
		{#<th>pseudo</th>#}
		<th>Objet</th>
		<th>Message reçu</th>
		<th>Date</th>


	</thead>
	<tbody>
		{% for message in messages %}
			<tr>
				<td>{{message.object}}</td>
				<td>{{message.message}}</td>
				<td>{{message.createdAt|ago}}</td>
			</tr>
		</tbody>
	{% else %}
		<tr>

			<td colspan="5">
				Vous n'avez reçu aucun message
			</td>
		</tr>
	{% endfor %}
    
</tbody></table>
{%endblock%}
